.cart__container{
   display: block;



  
   background: radial-gradient(circle at -8.9% 51.2%, rgb(255, 124, 0) 0%, rgb(255, 124, 0) 15.9%, rgb(255, 163, 77) 15.9%, rgb(255, 163, 77) 24.4%, rgb(19, 30, 37) 24.5%, rgb(19, 30, 37) 66%);
    min-height: 100%;
padding-top: 200px;

}

.card-body{
    display: flex;
   
    flex-direction: row;
    align-items: center;
    position: relative;
 
}

.card{
  gap: 30px;
    height: 20vh;
    background: linear-gradient(180.2deg, rgb(30, 33, 48) 6.8%, rgb(74, 98, 110) 131%);
    opacity: 0.9;
 color: white;
 width: 50rem;
 display: flex;
 border: 1px solid white;
 flex-direction: row;
 margin-left: 30px;

}


.mat-mdc-raised-button{
    height: 30px;
    margin: 5px;
 color: white;
    width: 30px;

}

.card-title{
  width: 140px;
}

.mat-mdc-fab{
width: 40px;
height: 40px;
float: right;
    background-color: red;
}

.mat-mdc-outlined-button .mdc-button__label{
color: white;

}
.cart__quantity{
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.cart__button{
    margin-top: 50px;
    display: flex;
   gap: 30px;
   justify-content: space-around;
   align-items: center;
 
   margin-left: 200px;
}
.card-title2{
    display: none;
}

.cart__total{
    display: flex;
    float: right;
    color: white;
    font-size: xx-large;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    margin-right: 200px;
  border: 1px solid white;
  width: 50vh;
  height: 50vh;
}

.cart__total ul{
    display: flex;
    gap: 30px;
    flex-direction: column;
    list-style: none;
    font-size: 1rem;
}

.cart__total button{
  width: 300px;
  height: 50px;
  margin-top: 50%;
}

@media (max-width: 767px){
    
    .cart__container{
display: flex;
gap: 60px;

align-items: center;

flex-direction: column-reverse;


    }

      .cart__total{
        width: 40vh ;
       
height: 100%;
justify-content: center;
align-items: center;
  align-self: center;
  display: flex;
  margin-left: 200px;
 
      }

      .cart__total ul{
      font-size: 0.7rem;
      }
.card-body{
    display: flex;
    flex-direction: column;
    position: relative;
  
}

.cart__button{
  top: 50px;
}
.cart__quantity{
  display: flex;
gap: 10px;

}

      .card{
        flex-direction: column;
        width: 20vh !important;
        height: 200px !important; 
     justify-content: center;
   
     display: flex;

      }
      .card-title{
        display: none;
      }
      .card-title2{
        display: flex;
        align-items: center;
        justify-content: center;
      }

     .card-img-top{
        width: 5rem !important;
        align-self: center;
     }

     .cart__button{
        margin: 0;
        width: 5rem;
        position: absolute;
        flex-direction: column;
        gap: 5px;
        top: -30px;
        justify-content: center;
        align-items: center;
     }
     
   
}


@media ( min-width: 768px){
  .cart__container{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    min-height: 100%;
    }

    .card{
      width: 800px !important;
    }

    .cart__button{
      margin-left: 50px;
      margin-top: 0;
    }

    .cart__total{
      width: 40vh ;
       
      height: 100%;
      justify-content: center;
      align-items: center;
        align-self: center;
        display: flex;
        margin-left: 200px;
       margin-top: 30px;
    }
}