

<div class="homepage__container">
   
 <img src="../../../assets/img/AdobeStock_469304379.jpeg" alt="">
 <div class="homepage__txt">
   <div>
    <h1>Welcome to our restaurant</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla possimus quas maiores! Omnis enim voluptate obcaecati illo iure commodi autem, sunt vitae temporibus ducimus reprehenderit ipsum. Cumque inventore iusto perferendis accusantium aperiam officia repellat, at nihil cupiditate quis quas. Perspiciatis, laudantium asperiores. Maxime veniam, molestiae accusamus odit omnis maiores esse enim tenetur quidem repellat ipsum voluptate iusto aut et quia.</p>
   </div>
    <!-- <button routerLink="/app-menu" type="button" class="btn btn-dark">Click here to place order</button> -->
    <button routerLink="/app-menu" mat-raised-button color="primary">click here to place order</button>
   </div>


   <app-footer></app-footer>
</div>


